name: AfterGL-CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libglfw3-dev libgles2-mesa-dev libx11-dev libxcursor-dev libxinerama-dev libxrandr-dev libxi-dev

    - name: Configure CMake
      run: cmake -B build

    - name: Build AfterGL
      run: cmake --build build
