jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install Graphics Dependencies
      run: |
        sudo apt-get update
        # We need these for GL 4.0 and Windowing on the runner
        sudo apt-get install -y libglew-dev libglfw3-dev libgl1-mesa-dev

    - name: Run cmake
      run: cmake -B build

    - name: Build
      run: cmake --build build
